$colors: (
  backgrounds-color: #fff,
  cards-background-color: #fff,
  navigation-color: #fff,
  container-color: #fff,
  texts-color: #fff,
  light-texts-color: #fff,
  alt-texts-color: #fff,
  white-texts: #fff,
  links-color: #fff,
  alerts-color: #fff,
  buttons-color: #fff,
  buttons-color-hover: #fff,
  buttons-color-active: #fff,
  buttons-text-color: #fff,
  hovers-color: #fff,
  borders-color: #fff,
  single-cards-border-color: #fff
  grid-menu-color: #fff,
  grid-menu-color-hover: #fff,
  grid-menu-color-active: #fff,
  cards-link-text: #fff,
  cards-link-text-hover: #fff,
  cards-shadow-color: rgba(0,0,0,0.1),
  forms-background-color: #fff,
  forms-border-color: #fff,
  navs-shadow-color: rgba(0,0,0,0.5),
  inputs-color: #fff
);