/* Font Sizes */

$title-size: 3em;
$subtitle-size: 2em;
$text-size: 1em;

/* Font Families */

$title-font-family: 'Raleway', sans-serif;
$subtitle-font-family: 'Raleway', sans-serif;
$text-font-family: 'Raleway', sans-serif;

/* Font Weight */
$title-font-weight: bold;
$subtitle-font-weight: regular;