$colors: (
  backgrounds-color: #ebebeb,
  cards-background-color: #fff,
  navigation-color: #fff159,
  container-color: #fff,
  texts-color: #333,
  light-texts-color: #676767,
  lighter-texts-color: #999,
  alt-texts-color: #39b54a,
  white-texts: #fff,
  links-color: #3483fa,
  alerts-color: #fff,
  buttons-color: #3483fa,
  buttons-color-hover: #1259c3,
  buttons-color-active: #1259c3,
  buttons-text-color: #fff,
  hovers-color: #1259c3,
  borders-color: #ebebeb,
  single-cards-border-color: #fff,
  grid-menu-color: #fff,
  grid-menu-color-hover: #3483fa,
  grid-menu-color-active: #3483fa,
  cards-background-color: #fff,
  cards-link-text: #676767,
  cards-link-text-hover: #3483fa,
  cards-shadow-color: rgba(0,0,0,0.1),
  forms-background-color: #fff,
  forms-border-color: #fff,
  navs-shadow-color: rgba(0,0,0,0.5),
  inputs-color: #fff
);