/* Font Sizes */

$title-size: 2.7em;
$subtitle-size: 1.7em;
$text-size: 0.7em;
$small-text-size: 0.8em;

/* Font Families */

$title-font-family: 'Raleway', sans-serif;
$subtitle-font-family: 'Raleway', sans-serif;
$text-font-family: 'Raleway', sans-serif;

/* Font Weight */
$title-font-weight: 600;
$subtitle-font-weight: 500;
$text-font-weight: 400;

/* Imported Fonts */

@font-face {
  font-family: "Fericons";
  src: url("./framework-assets/Fericons.ttf");
}