/* Font Sizes */

$title-size: 3em;
$subtitle-size: 2em;
$text-size: 1em;

/* Font Families */

$title-font-family: 'Raleway', sans-serif;
$subtitle-font-family: 'Raleway', sans-serif;
$text-font-family: 'Raleway', sans-serif;

/* Font Weight */
$title-font-weight: 700;
$subtitle-font-weight: 500;
$text-font-weight: 400;

/* Imported Fonts */

@font-face {
  font-family: "Fericons";
  src: url("./framework-assets/Fericons.ttf");
}