$thin: 0.8em;
$regular: 2em;
$thick: 3.1em;

/* Margins */
$margin: (
  thin: $thin,
  regular: $regular,
  thick: $thick,
  no-top-thin: 0 $thin $thin $thin,
  no-top-regular: 0 $regular $regular $regular,
  no-top-thick: 0 $thick $thick $thick,
  no-right-thin: $thin 0 $thin $thin,
  no-right-regular: $regular 0 $regular $regular,
  no-right-thick: $thick 0 $thick $thick,
  no-bottom-thin: $thin $thin 0 $thin,
  no-bottom-regular: $regular $regular 0 $regular,
  no-bottom-thick: $thick $thick 0 $thick,
  no-left-thin: $thin $thin $thin 0,
  no-left-regular: $regular $regular $regular 0,
  no-left-thick: $thick $thick $thick 0,
  top-only-thin: $thin 0 0 0,
  top-only-regular: $regular 0 0 0,
  top-only-thick: $thick 0 0 0,
  right-only-thin: 0 $thin 0 0,
  right-only-regular: 0 $regular 0 0,
  right-only-thick: 0 $thick 0 0,
  bottom-only-thin: 0 0 $thin 0,
  bottom-only-regular: 0 0 $regular 0,
  bottom-only-thick: 0 0 $thick 0,
  left-only-thin: 0 0 0 $thin,
  left-only-regular: 0 0 0 $regular,
  left-only-thick: 0 0 0 $thick,
  vertical-thin: $thin 0,
  vertical-regular: $regular 0,
  vertical-thick: $thick 0,
  horizontal-thin: 0 $thin,
  horizontal-regular: 0 $regular,
  horizontal-thick: 0 $thick
);

/* Padding */
$padding: (
  thin: $thin,
  regular: $regular,
  thick: $thick,
  no-top-thin: 0 $thin $thin $thin,
  no-top-regular: 0 $regular $regular $regular,
  no-top-thick: 0 $thick $thick $thick,
  no-right-thin: $thin 0 $thin $thin,
  no-right-regular: $regular 0 $regular $regular,
  no-right-thick: $thick 0 $thick $thick,
  no-bottom-thin: $thin $thin 0 $thin,
  no-bottom-regular: $regular $regular 0 $regular,
  no-bottom-thick: $thick $thick 0 $thick,
  no-left-thin: $thin $thin $thin 0,
  no-left-regular: $regular $regular $regular 0,
  no-left-thick: $thick $thick $thick 0,
  top-only-thin: $thin 0 0 0,
  top-only-regular: $regular 0 0 0,
  top-only-thick: $thick 0 0 0,
  right-only-thin: 0 $thin 0 0,
  right-only-regular: 0 $regular 0 0,
  right-only-thick: 0 $thick 0 0,
  bottom-only-thin: 0 0 $thin 0,
  bottom-only-regular: 0 0 $regular 0,
  bottom-only-thick: 0 0 $thick 0,
  left-only-thin: 0 0 0 $thin,
  left-only-regular: 0 0 0 $regular,
  left-only-thick: 0 0 0 $thick,
  vertical-thin: $thin 0,
  vertical-regular: $regular 0,
  vertical-thick: $thick 0,
  horizontal-thin: 0 $thin,
  horizontal-regular: 0 $regular,
  horizontal-thick: 0 $thick
);
