@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Configuration */

/* Margins and Paddings */

$thin: 1em;
$regular: 2em;
$thick: 3em;

/* Font Sizes */

$title-size: 3em;
$subtitle-size: 2em;
$text-size: 1em;

/*Grid Spacing*/
$gap-size: 1em;
$gap-size-mobile: 1em;

$colors: (
  backgrounds-color: #fff,
  cardss-background-color: #fff,
  navigation-color: #fff,
  container-color: #fff,
  texts-color: #fff,
  light-texts-color: #fff,
  alt-texts-color: #fff,
  white-texts: #fff,
  links-color: #fff,
  alerts-color: #fff,
  buttons-color: #fff,
  buttons-text-color: #fff,
  hovers-color: #fff,
  borders-color: #fff,
  shadows-color: #fff,
  single-cards-border-color: #fff
  grid-menu-color: #fff,
  grid-menu-color-hover: #fff,
  grid-menu-color-active: #fff
);

/* Margins */
$margin: (
  thin: $thin,
  regular: $reguar,
  thick: $thick,
  no-top-thin: 0 $thin $thin $thin,
  no-top-regular: 0 $reguar $reguar $reguar,
  no-top-thick: 0 $thick $thick $thick,
  no-right-thin: $thin 0 $thin $thin,
  no-right-regular: $reguar 0 $reguar $reguar,
  no-right-thick: $thick 0 $thick $thick,
  no-bottom-thin: $thin $thin 0 $thin,
  no-bottom-regular: $reguar $reguar 0 $reguar,
  no-bottom-thick: $thick $thick 0 $thick,
  no-left-thin: $thin $thin $thin 0,
  no-left-regular: $reguar $reguar $reguar 0,
  no-left-thick: $thick $thick $thick 0,
  top-only-thin: $thin 0 0 0,
  top-only-regular: $reguar 0 0 0,
  top-only-thick: $thick 0 0 0,
  right-only-thin: 0 $thin 0 0,
  right-only-regular: 0 $reguar 0 0,
  right-only-thick: 0 $thick 0 0,
  bottom-only-thin: 0 0 $thin 0,
  bottom-only-regular: 0 0 $reguar 0,
  bottom-only-thick: 0 0 $thick 0,
  left-only-thin: 0 0 0 $thin,
  left-only-regular: 0 0 0 $reguar,
  left-only-thick: 0 0 0 $thick,
  vertical-thin: $thin 0,
  vertical-regular: $reguar 0,
  vertical-thick: $thick 0,
  horizontal-thin: 0 $thin,
  horizontal-regular: 0 $reguar,
  horizontal-thick: 0 $thick
);

/* Padding */
$padding: (
  thin: $thin,
  regular: $reguar,
  thick: $thick,
  no-top-thin: 0 $thin $thin $thin,
  no-top-regular: 0 $reguar $reguar $reguar,
  no-top-thick: 0 $thick $thick $thick,
  no-right-thin: $thin 0 $thin $thin,
  no-right-regular: $reguar 0 $reguar $reguar,
  no-right-thick: $thick 0 $thick $thick,
  no-bottom-thin: $thin $thin 0 $thin,
  no-bottom-regular: $reguar $reguar 0 $reguar,
  no-bottom-thick: $thick $thick 0 $thick,
  no-left-thin: $thin $thin $thin 0,
  no-left-regular: $reguar $reguar $reguar 0,
  no-left-thick: $thick $thick $thick 0,
  top-only-thin: $thin 0 0 0,
  top-only-regular: $reguar 0 0 0,
  top-only-thick: $thick 0 0 0,
  right-only-thin: 0 $thin 0 0,
  right-only-regular: 0 $reguar 0 0,
  right-only-thick: 0 $thick 0 0,
  bottom-only-thin: 0 0 $thin 0,
  bottom-only-regular: 0 0 $reguar 0,
  bottom-only-thick: 0 0 $thick 0,
  left-only-thin: 0 0 0 $thin,
  left-only-regular: 0 0 0 $reguar,
  left-only-thick: 0 0 0 $thick,
  vertical-thin: $thin 0,
  vertical-regular: $reguar 0,
  vertical-thick: $thick 0,
  horizontal-thin: 0 $thin,
  horizontal-regular: 0 $reguar,
  horizontal-thick: 0 $thick
);

/* cards setup */
$cards-border-radius: 4px;
$cards-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
$cards-box-shadow-hover: 0 1px 24px 0 rgba(0, 0, 0, 0.1);
$cardss-height: 5em;
$single-cards-border-width: 1px;

/* Grid */
@mixin body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@mixin grid-0-12-0 {
grid-column: 1 / 13;
}

@mixin grid-1-10-1 {
  grid-column: 2 /12;
}

@mixin grid-2-8-2 {
  grid-column: 3/11;
}

/* Fonts */

@mixin title {
  font-family: 'Raleway', sans-serif;
  size: $title-size;
  font-weight: bold;
  color: map-get($colors, texts-color);
}

@mixin subtitle {
  font-family: 'Raleway', sans-serif;
  size: $subtitle-size;
  font-weight: regular;
  color: map-get($colors, texts-color);
}

@mixin text {
  font-family: 'Raleway', sans-serif;
  size: $tex-size;
  font-weight: light;
  color: map-get($colors, texts-color);
}

@mixin links {
  @include text;
  color: map-get($colors, light-texts-color);
}

/* Images */

@mixin single-cards-img {
  width: 100%;
  height: auto;
  border-bottom: $single-cards-border-width map-get(colors, single-cards-border-color) solid;
}

@mixin double-cards-img {
  width: auto;
  height: 100%;
}


/* Containers */
  @mixin line-of-two {
    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $gap-size;
    }

    @media (max-width: 1024px) {
      display: grid;
      grid-template-rows: 1fr;
      grid-gap: $gap-size-mobile;
    }
  }

  @mixin line-of-three {
    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $gap-size;
    }

    @media (max-width: 1024px) {
      display: grid;
      grid-template-rows: 1fr;
      grid-gap: $gap-size-mobile;
    }
  }

  @mixin line-of-four {
    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: $gap-size;
    }

    @media (max-width: 1024px) {
      display: grid;
      grid-template-rows: 1fr;
      grid-gap: $gap-size-mobile;
    }
  }

  @mixin line-of-five {
    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: $gap-size;
    }

    @media (max-width: 1024px) {
      display: grid;
      grid-template-rows: 1fr;
      grid-gap: $gap-size-mobile;
    }
  }

  @mixin feature-grid {
    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: $gap-size;
    }

    /* mobile */
    @media (max-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $gap-size-mobile;
    }
  }

  @mixin feature-grid-large {
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  @mixin cards {
    box-shadow: $cards-box-shadow;
    border-radius: $cards-border-radius;
    height: $cardss-height;
    position: relative;

    &:hover {
      box-shadow: $cards-box-shadow-hover;
    }
  }

  @mixin cards-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  /* TO DO links change color when the parent div is hovered */ 

  /* single-cards */
  @mixin single-cards {
    @include cards;
  }

  /* double-cards */
  @mixin double-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    @include cards;
  }

  /* Grid Hover Menu */

  @mixin grid-hover-menu {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  @mixin grid-hover-menu-item {
    background-color: map-get($colors, grid-menu-color);
    background-image: url();
    background-size: 100%;
    background-repeat: no-repeat;
    
    &:hover {
      background-color: map-get($colors, grid-menu-color-hover);
      background-image: url();
    }

    &:active {
      background-color: map-get($colors, grid-menu-color-active);
      background-image: url();
    }

  }

  .container {
    @include feature-grid;
  }

  .cont {
    background: red;
    border: 5px yellow solid;
  }

/* Classes */

