@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Configuration */

/* Margins and Paddings */

$thin: 1em;
$regular: 2em;
$thick: 3em;

/* Font Sizes */

$title-size: 3em;
$subtitle-size: 2em;
$text-size: 1em;

/*Grid Spacing*/
$gap-size: 1em;
$gap-size-mobile: 1em;

$colors: (
  backgrounds-color: #fff,
  cards-background-color: #fff,
  navigation-color: #fff,
  container-color: #fff,
  texts-color: #fff,
  light-texts-color: #fff,
  alt-texts-color: #fff,
  white-texts: #fff,
  links-color: #fff,
  alerts-color: #fff,
  buttons-color: #fff,
  buttons-text-color: #fff,
  hovers-color: #fff,
  borders-color: #fff,
  shadows-color: #fff,
);

/* Margins */
$margin: (
  thin: $thin,
  regular: $reguar,
  thick: $thick,
  no-top-thin: 0 $thin $thin $thin,
  no-top-regular: 0 $reguar $reguar $reguar,
  no-top-thick: 0 $thick $thick $thick,
  no-right-thin: $thin 0 $thin $thin,
  no-right-regular: $reguar 0 $reguar $reguar,
  no-right-thick: $thick 0 $thick $thick,
  no-bottom-thin: $thin $thin 0 $thin,
  no-bottom-regular: $reguar $reguar 0 $reguar,
  no-bottom-thick: $thick $thick 0 $thick,
  no-left-thin: $thin $thin $thin 0,
  no-left-regular: $reguar $reguar $reguar 0,
  no-left-thick: $thick $thick $thick 0,
  top-only-thin: $thin 0 0 0,
  top-only-regular: $reguar 0 0 0,
  top-only-thick: $thick 0 0 0,
  right-only-thin: 0 $thin 0 0,
  right-only-regular: 0 $reguar 0 0,
  right-only-thick: 0 $thick 0 0,
  bottom-only-thin: 0 0 $thin 0,
  bottom-only-regular: 0 0 $reguar 0,
  bottom-only-thick: 0 0 $thick 0,
  left-only-thin: 0 0 0 $thin,
  left-only-regular: 0 0 0 $reguar,
  left-only-thick: 0 0 0 $thick,
  vertical-thin: $thin 0,
  vertical-regular: $reguar 0,
  vertical-thick: $thick 0,
  horizontal-thin: 0 $thin,
  horizontal-regular: 0 $reguar,
  horizontal-thick: 0 $thick
);

/* Padding */
$padding: (
  thin: $thin,
  regular: $reguar,
  thick: $thick,
  no-top-thin: 0 $thin $thin $thin,
  no-top-regular: 0 $reguar $reguar $reguar,
  no-top-thick: 0 $thick $thick $thick,
  no-right-thin: $thin 0 $thin $thin,
  no-right-regular: $reguar 0 $reguar $reguar,
  no-right-thick: $thick 0 $thick $thick,
  no-bottom-thin: $thin $thin 0 $thin,
  no-bottom-regular: $reguar $reguar 0 $reguar,
  no-bottom-thick: $thick $thick 0 $thick,
  no-left-thin: $thin $thin $thin 0,
  no-left-regular: $reguar $reguar $reguar 0,
  no-left-thick: $thick $thick $thick 0,
  top-only-thin: $thin 0 0 0,
  top-only-regular: $reguar 0 0 0,
  top-only-thick: $thick 0 0 0,
  right-only-thin: 0 $thin 0 0,
  right-only-regular: 0 $reguar 0 0,
  right-only-thick: 0 $thick 0 0,
  bottom-only-thin: 0 0 $thin 0,
  bottom-only-regular: 0 0 $reguar 0,
  bottom-only-thick: 0 0 $thick 0,
  left-only-thin: 0 0 0 $thin,
  left-only-regular: 0 0 0 $reguar,
  left-only-thick: 0 0 0 $thick,
  vertical-thin: $thin 0,
  vertical-regular: $reguar 0,
  vertical-thick: $thick 0,
  horizontal-thin: 0 $thin,
  horizontal-regular: 0 $reguar,
  horizontal-thick: 0 $thick
);

/* card setup */
$card-border-radius: 4px;
$card-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
$card-box-shadow-hover: 0 1px 24px 0 rgba(0, 0, 0, 0.1);
$cards-height: 5em;

/* Fonts */

@mixin title {
  font-family: 'Raleway', sans-serif;
  size: $title-size;
  font-weight: bold;
  color: map-get($colors, texts-color);
}

@mixin subtitle {
  font-family: 'Raleway', sans-serif;
  size: $subtitle-size;
  font-weight: regular;
  color: map-get($colors, texts-color);
}

@mixin text {
  font-family: 'Raleway', sans-serif;
  size: $tex-size;
  font-weight: light;
  color: map-get($colors, texts-color);
}

@mixin links {
  @include text;
  color: map-get($colors, light-texts-color);
}

/* Images */

/* Containers */
  @mixin line-of-two {
    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $gap-size;
    }

    @media (max-width: 1024px) {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-gap: $gap-size-mobile;
    }
  }

  @mixin line-of-three {
    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $gap-size;
    }

    @media (max-width: 1024px) {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: $gap-size-mobile;
    }
  }

  @mixin line-of-four {
    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: $gap-size;
    }

    @media (max-width: 1024px) {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-gap: $gap-size-mobile;
    }
  }

  @mixin line-of-five {
    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: $gap-size;
    }

    @media (max-width: 1024px) {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: $gap-size-mobile;
    }
  }

  @mixin feature-grid {
    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: $gap-size;
    }

    /* mobile */
    @media (max-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $gap-size-mobile;
    }
  }

  @mixin feature-grid-large {
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  @mixin card {
    box-shadow: $card-box-shadow;
    border-radius: $card-border-radius;
    height: $cards-height;

    &:hover {
      box-shadow: $card-box-shadow-hover;
    }
  }

  @mixin single-card-img {
    width: 100%;
    height: auto;
  }

  @mixin double-card-img {
    width: auto;
    height: 100%;
  }

  /* single-card */
  @mixin single-card {
    @include card;
  }

  /* double-card */
  @mixin double-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    @include card;
  }


  .container {
    @include feature-grid;
  }

  .cont {
    background: red;
    border: 5px yellow solid;
  }

