@mixin cards {
  box-shadow: $cards-box-shadow;
  border-radius: $cards-border-radius;
  height: $cards-height;
  position: relative;
  background-color: map-get($colors, cards-background-color);
  margin: $thin;
  padding: map-get($padding, left-only-thick);
  overflow: hidden;

  &:hover {
    box-shadow: $cards-box-shadow-hover;
  }
}

@mixin cards-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@mixin cards-link {
  color: map-get($colors, cards-link-text);

  &:hover {
    color: map-get($colors, cards-link-text-hover);
  }
}

/* single-cards */
@mixin single-cards {
  @include cards;
}

/* double-cards */
@mixin double-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  @include cards;
}

