/* Components Features */

@mixin buttons {
  color: map-get($colors, buttons-text-color);
  background-color: map-get($colors, buttons-color);
  border-radius: $cards-border-radius;
  border-style: solid;
  border-color: map-get($colors, buttons-color);
  padding: 0.5em 0.5em;;
  font-size: $text-size;
  font-weight: $subtitle-font-weight;

  &:hover {
    background-color: map-get($colors, buttons-color-hover);
  }

  &:active {
    background-color: map-get($colors, buttons-color-active);
  }
}

@mixin search-fields {
  box-shadow: $cards-box-shadow;
}

@mixin icons {

}
