@import './imports';

/*Grid Spacing*/
$gap-size: 1em;
$gap-size-mobile: 1em;

/* Grid */
@mixin body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Classes */

body {
  @include body;
}

nav {
  @include grid-0-12-0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: map-get($colors , navigation-color);
  height: $navs-height;
}

.nav-search {
  @include grid-4-4-4;

  input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $gap-size;
    background: map-get($colors ,inputs-color);

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .glasses {
    @media (min-width: 1025px) {
      float: right;
    }

    float: left;
    content: 'a';
  }
}

.nav-logo {
  @include grid-0-4-8;
}

.nav-links {
  @include grid-8-4-0;

  .nav-links-item {
    font-family: $text-font-family;
    font-size: $text-size;
    font-weight: $text-font-weight;

    &:hover { font-weight: $subtitle-font-weight; }

    &:focus { font-weight: $subtitle-font-weight; }
  }
}

  /*
  Create classes for divs within the nav bar for left, center and right with variable widths
    create classes for links, search,  and logo. The class for links must collapse into a menu icon (hamburger icon)"
  */

header {
  @include grid-1-10-1;
}

main {
  @include grid-1-10-1;
}

footer {
  @include grid-0-12-0;
}

/* Text */

.title {
  @include title;
}

.subtitle {
  @include subtitle;
}

.text {
  @include text;
}

.links {
  @include links;
}

/* Images */

.single-cards-img {
  @include single-cards-img;
}

.double-cards-img {
  @include double-cards-img;
}

/* Containers */

.line-of-two {
  @include line-of-two;
}

.line-of-three {
  @include line-of-three;
}

.line-of-four {
  @include line-of-four;
}

.line-of-five {
  @include line-of-five;
}

.feature-grid {
  @include feature-grid;
}

/* Cards */

.feature-grid-large {
  @include feature-grid-large;
}

.single-cards {
  @include single-cards;
}

.double-cards {
  @include double-cards;
}

.cards-link {
  @include cards-link;
}

.single-cards:hover {
  .single-cards > a > span {
    @include cards-link;
  }
}

.double-cards:hover {
  .double-cards > a > span {
    @include cards-link;
  }
}

/* Grid Hover Menu */

.grid-hover-menu {
  @include grid-hover-menu;
}

.grid-hover-menu-item {
  @include grid-hover-menu-item;
}

/* Components */

.buttons {
  @include buttons;
}

.search-fields {
  @include search-fields;
}

.icons {
  @include icons;
}


/* Specific Styling not in the framework */
body {
  background-color: map-get($colors, backgrounds-color);
}

h1 {
  @include title;
}

a {
  @include links;
}

p {
  @include text;
}

.grid-menu-main {
  @include grid-hover-menu;
}

.grid-menu-item {
  @include grid-hover-menu-item;
}

.double-card {
  @include
}
